@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-white: #fff;
  --color-grey: #949494;
  --color-blue-800: #242742;
  --color-blue-700: #36384d;
  --color-red: #ff6155;

  /* Gradient Stops */
  --color-gradient-start: #ff6a3a;
  --color-gradient-end: #ff527b;

  /* Gradient Shorthand */
  --gradient-4: linear-gradient(
    90deg,
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
}

/* Preset 1 - Desktop (56px) */
.text-preset-1 {
  font-weight: 700; /* Roboto Bold */
  font-size: 3.5rem;
  line-height: 1; /* 100% */
  letter-spacing: 0px;
}

/* Preset 1 - Mobile (40px) */
.text-preset-1-mobile {
  font-weight: 700; /* Roboto Bold */
  font-size: clamp(2.5rem, 4vw + 1rem, 3.5rem);
  line-height: 1; /* 100% */
  letter-spacing: 0px;
  color: var(--color-blue-800);
}

/* Preset 2 - Bold (16px) */
.text-preset-2-bold {
  font-weight: 700; /* Roboto Bold */
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0px;
}

/* Preset 2 - Regular (16px) */
.text-preset-2-regular {
  font-weight: 400; /* Roboto Regular */
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0px;
  color: var(--color-blue-800);
}

/* Preset 3 - Bold (12px) */
.text-preset-3 {
  font-weight: 700; /* Roboto Bold */
  font-size: 12px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0px;
}

body {
  font-family: "Roboto", sans-serif; /* base font */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue-800);
}

.card {
  background-color: var(--color-white);
}

.illustration {
  display: block;
  width: 100%;
  height: auto;
}

main {
  margin: 2.5rem 1.5rem;
}

main > p {
  margin: 1.5rem 0px;
}

li {
  list-style: none;
  display: flex;
  align-items: flex-start;
}

li::before {
  content: url(icon-list.svg);
  margin-right: 1rem;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}

form {
  margin: 0px 1.5rem;
}

.label-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form-actions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input,
button {
  height: 3.5rem;
  border-radius: 0.5rem;
}

input {
  border: 1px solid;
  padding: 1rem;
  color: var(--color-blue-800);
}

input:focus {
  outline: none;
}

button {
  background-color: var(--color-blue-800);
  border: none;
  color: var(--color-white);
  margin-bottom: 2.5rem;
}

button:hover {
  background: var(--gradient-4);
}

.error-text {
  color: var(--color-red);
}

.error {
  background-color: rgb(255, 236, 236);
  color: var(--color-red);
}

@media (min-width: 550px) {
  body {
    padding: 80px;
  }

  .card {
    padding: 2.5rem;
    border-radius: 2.25rem;
  }

  .illustration-container {
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
  }

  .illustration {
    display: block;
    width: 104%;
    margin-left: -2%;
    margin-top: -2%;
    margin-bottom: -2%;
  }
}

@media (min-width: 1000px) {
  .card {
    display: flex;
    gap: 4rem;
    display: flex;
    padding: 2rem;
    flex-direction: row-reverse;
    max-width: 904px;
  }

  .left-container {
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .illustration-container {
    flex: 1;
    height: 100%;
  }

  main,
  form {
    margin: 0;
  }

  main > p {
    margin: 2rem 0;
  }

  main > ul {
    margin-bottom: 2rem;
  }
}

.success-dialog {
  padding: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-white);
  max-width: 31.5rem;
  border-radius: 2.25rem;
  gap: 2rem;
}

.success-dialog > img {
  align-self: flex-start;
}

.success-dialog > h1 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: 0px;
  color: var(--color-blue-800);
}

.success-dialog > p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px;
  color: var(--color-blue-800);
}

.success-dialog > button {
  width: 100%;
  font-weight: 700; /* Roboto Bold */
  font-size: 1rem;
  line-height: 1.5; /* 150% */
  letter-spacing: 0px;
  margin-bottom: 0;
}
